{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "debug": true,
        "useBuiltIns": "usage",
        "corejs": "3",
        "targets": {
          "node": "16"
        }
      }
    ]
  ]
}
