<!DOCTYPE html>
<html lang="en">
  <head>
    {{> commonHeaders }}
    <title>Text Analyser | Home</title>
  </head>
  <body>
    <h1>Text Analyser</h1>

    {{#unless textId}} {{> input }} {{else}} {{> output }} {{/unless}}
  </body>
</html>
