<p>Please, insert the text you want to analyse here.</p>
<form method="POST" action="/">
  <textarea
    name="text"
    id=""
    aria-label="Please, insert the text you want to analyse here."
    cols="100"
    rows="20"
  ></textarea>
  <div />
  <input type="submit" aria-label="Analyse" />
</form>
